/* TIPOGRAFIES */
@font-face {
    font-family: 'Loubag';
    src: url('./FONTS/Loubag-Thin.woff2') format('woff2');
    font-display: swap;
}

/* Base personalitzada */
html {
    /*font-size: calc(1em + 0.5vw);*/
    scroll-padding-top: 80px;
}

/* Logo flotant centrat */
.logo-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    pointer-events: none;
}

.logo-independent {
    display: block;
    pointer-events: all;
    transition: transform 0.3s ease;
}

.logo-img {
    height: 4rem;
    width: auto;
}

/* Navbar amb forma especial */
.navbar {
    border-radius: 100px;
    margin: 40px auto 0 auto;
    width: 90%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left,
.navbar-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
}

.navbar-left {
    justify-content: flex-start;
}

.navbar-right {
    justify-content: flex-end;
}

/* Links amb efecte fletxa personalitzat */
.nav-link {
    color: #f6a40c;
    margin: 0 0.5rem;
    transition: color 0.3s;
    font-family: 'Loubag', sans-serif;
    padding: 0.1rem 1.2rem;
    border-radius: 25px;
    border: 2px solid transparent;
    position: relative;
}

.nav-link::before {
    content: '▼';
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    color: #1e1e1e;
    font-size: 0.7rem;
    opacity: 0;
    transition: all 0.4s ease;
}

.nav-link:hover::before {
    top: -30px;
    opacity: 1;
}

.nav-link:hover {
    color: #ffffff;
    border-color: #f6a40c;
}

.nav-link.active::before {
    top: -10px;
    opacity: 1;
    color: #ffffff;
}

.nav-link.active {
    color: #ffffff !important;
    border-color: #f6a40c;
}

/* Banner amb efectes especials */
.banner-hero-img {
    width: 90%;
    margin: 0 auto;
    overflow: visible;
    padding-top: 150px;
    position: relative;
}

.banner-hero-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.banner-overlay-image {
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}

.image-default {
    width: 10rem !important;
    height: auto;
    display: block;
    transition: opacity 0.4s ease;
    filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.5));
}

.image-hover {
    width: 19.7rem !important;
    height: auto;
    position: absolute;
    top: -26%;
    left: -37%;
    opacity: 0;
    transition: opacity 0.4s ease;
    filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.5));
}

.banner-overlay-image:hover .image-default {
    opacity: 0;
}

.banner-overlay-image:hover .image-hover {
    opacity: 1;
}